:root {
  /* colors */
  --clr-accent: 26 100% 55%;
  --clr-pale-orange: 25 100% 94%;
  --clr-header: 40 13% 87%;
  --clr-dark-mode: 220 13% 13%;
  --clr-text: 0 0% 65%;
  --clr-counter-bg: 0 0% 50%;
  --clr-white: 0 0% 100%;
  --clr-black: 0 0% 0%;
  --clr-pale: 0 0% 50%;

  /* font sizes */

  --fs-300: 0.75rem;
  --fs-400: 0.938rem;
  --fs-500: 1.95rem;
  --fs-700: 1.6rem;

  /* overlay position */
  --x: 0;
  --y: 0;
  --radius: 0vh;

  /* nav height */
  --nav-height: 100vh;
}

@media (min-width: 37.5rem) {
  :root {
    --fs-300: 0.9rem;
    --fs-400: 1rem;
    --fs-500: 2rem;
    --fs-700: 2.75rem;
  }
}

/* ------------------- */
/* CSS Reset           */
/* ------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

body {
  font-size: var(--fs-400);
  font-family: "Kumbh Sans", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  -webkit-tap-highlight-color: transparent;
  min-height: 100dvh;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-space {
  justify-content: space-between;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.flow > * + * {
  margin-top: var(--flow-space, 1.5rem);
}

/* colors */

.bg-white {
  background-color: hsl(var(--clr-white));
}

.bg-pale-orange {
  background-color: hsl(var(--clr-pale-orange));
}

.bg-counter {
  background-color: hsl(var(--clr-counter-bg) / 0.05);
}

.bg-accent {
  background-color: hsl(var(--clr-accent));
}

.bg-header {
  background-color: hsl(var(--clr-header));
}

.text-accent {
  color: hsl(var(--clr-accent));
}

.text-grey {
  color: hsl(var(--clr-text));
}

.text-header {
  color: hsl(var(--clr-header));
}

.text-white {
  color: hsl(var(--clr-white));
}

/* font */

.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.letter-spacing {
  letter-spacing: 1px;
}

.uppercase {
  text-transform: uppercase;
}

/* container */

.grid-container {
  display: grid;
  place-items: center;
  padding-inline: 1.5rem;
}

@media (min-width: 62.5rem) {
  .grid-container {
    grid-template-columns: minmax(2em, 1fr) minmax(0, 35rem) minmax(0, 35rem) minmax(
        2em,
        1fr
      );
    padding-inline: 1.5rem;
  }
  .grid-container > :first-child {
    grid-column: 2;
  }
  .grid-container > :nth-child(2) {
    grid-column: 3;
  }
  .grid-container--header > :nth-child(2) {
    justify-self: end;
  }
  .grid-container--main {
    column-gap: 6rem;
    grid-template-columns:
      minmax(2em, 1fr) minmax(0, 29rem) minmax(0, 29rem)
      minmax(2em, 1fr);
    margin-block: 2rem;
    align-items: center;
  }
}

.difference-blend {
  mix-blend-mode: difference;
}

.difference-blend::selection {
  background-color: #0082e588;
  color: white;
}

.dark .difference-blend::selection {
  background-color: #ff7d1a88;
}

/* ------------------- */
/* CSS Components      */
/* ------------------- */

#navigation {
  list-style: none;
  padding: 0;
  --gap: 2rem;
}

#navigation a {
  text-decoration: none;
  mix-blend-mode: difference;
}

/* ------------------- */
/* General Styles      */
/* ------------------- */

/* dark mode overlay */

body {
  --dark-overlay-height: 100dvh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

body::before {
  content: "";
  position: absolute;
  inset: 0 0 auto 0;
  height: var(--dark-overlay-height);
  z-index: -1;
  background-color: hsl(var(--clr-dark-mode));
  clip-path: circle(var(--radius) at var(--x) var(--y));
  transition: clip-path 1s cubic-bezier(0.18, -0.01, 0.49, 0.99);
}

body.dark::before {
  --radius: 200vmax;
  transition-timing-function: cubic-bezier(0.5, -0.01, 0.86, 0.99);
}

/* selection color */

::selection {
  background-color: #ff7d1a88;
  color: black;
}

header svg {
  mix-blend-mode: difference;
}

/* logo startup animation */

#logo > path {
  stroke-dasharray: 713.075 714;
  stroke-dashoffset: 713.075;
  fill: transparent;
  animation: appear 2s forwards cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

@keyframes appear {
  97% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
    stroke: transparent;
    fill: #e2dfd9;
  }
}

/* Next is mobile navigation */

/* burger menu bar length: 38 */
/* length of x is 2 * 32.353 */
/* length of curve is 45.85 */

.mobile-nav-toggle {
  --delay: 1s;
  padding-top: 0.26rem;
  z-index: 99999;
  mix-blend-mode: difference;
  display: none;
}

.half {
  stroke-dasharray: 38 1000;
  stroke-dashoffset: -78;
  stroke: transparent;
  transition: stroke-dasharray 0.5s linear 0.5s,
    stroke-dashoffset 0.5s linear 0.5s, stroke 0.5s var(--delay);
}
#middle {
  stroke-dasharray: 38 1000;
  stroke: transparent;
  transition: stroke-dasharray 0.5s linear 0.5s,
    stroke-dashoffset 0.5s linear 0.5s, stroke 0.5s var(--delay);
}

#x {
  fill: transparent;
  transition: fill 0.5s 0s;
}

#burger {
  transition: fill 0.5s 1s;
}

.mobile-nav-toggle[aria-expanded="true"] {
  --delay: 0s;
}

.mobile-nav-toggle[aria-expanded="true"] #burger {
  fill: transparent;
  transition-delay: 0s;
}
.mobile-nav-toggle[aria-expanded="true"] #x {
  fill: hsl(var(--clr-text));
  transition-delay: 1s;
}

.mobile-nav-toggle[aria-expanded="true"] .half {
  stroke-dashoffset: -0.5;
  stroke-dasharray: 32.353 1000;
  stroke: hsl(var(--clr-text));
}

.mobile-nav-toggle[aria-expanded="true"] #middle {
  stroke-dashoffset: 38;
  stroke: hsl(var(--clr-text));
}

@media (max-width: 62.5rem) {
  .mobile-nav-toggle {
    display: initial;
  }
  nav {
    position: absolute;
    inset: 0 33% auto 0;
    height: var(--nav-height, 100vh);
    background-color: hsl(var(--clr-white));
    z-index: 9999;
    padding-top: 6rem;
    padding-left: 1.75rem;
    transform: translateX(-100%);
    transition: transform 1s;
  }
  .mobile-nav-toggle[aria-expanded="true"] ~ nav {
    transform: none;
  }
  nav ~ .overlay {
    position: absolute;
    inset: 0 0 auto 0;
    height: var(--nav-height, 100dvh);
    z-index: 9998;
    background-color: hsl(var(--clr-black) / 0.75);
    backdrop-filter: blur(0.5rem);
    transition: opacity 1s, visibility 1s;
    opacity: 0;
    visibility: hidden;
  }
  .dark nav ~ .overlay {
    background-color: hsl(var(--clr-text) / 0.75);
  }
  .mobile-nav-toggle[aria-expanded="true"] ~ .overlay {
    visibility: visible;
    opacity: 1;
  }
  #navigation {
    flex-direction: column;
    --gap: 1rem;
  }
  #navigation a {
    color: hsl(var(--clr-header));
    font-weight: 700;
  }
  .dark nav {
    background-color: hsl(var(--clr-dark-mode));
  }
}

button {
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.cart path {
  mix-blend-mode: difference;
  fill: hsl(var(--clr-text));
}

/* theme toggler animation */

/* moon length is 41.072 */
/* moon length + sun circle length = 59.251 => the part left = 18.179 */
/* the path in middle of moon/sun = 16.851 */
/* small circle length is 5.59 */
/* big star length is 12.898 => big quarter star length is 3.2245 */
/* small star length is 7.714 => small quarter star length is 1.9285 */
/* first path length + big star quarter + small circle = 15.225 => first path length = 6.4105 */
/* second path length + // + // = 16.844 => second path = 8.0295 */
/* third path + // + /#navigation/ = 17.631 => third path = 8.8165 */
/* fourth path + // + // = 31.623 => fourth path = 22.8085 */
/* 5th path + small star quarter + // = 15.563 => 5th path = 6.7485 */
/* 6th path + // + // = 21.259 => 6th path = 13.7405 */
/* 7th path + // + // = 24.6 => 7th path = 17.0815 */
/* 8th path + // + // = 30.697 => 8th path = 23.1785 */

.theme-toggler {
  --delay: 0.5s;
  --duration: 0.5s;
  display: grid;
  place-items: center;
}

.theme-toggler > svg {
  transition: transform 1s 0.3s ease-in-out;
}

#moon,
.star {
  transition: fill var(--duration) calc(3 * var(--delay));
}

.sun,
.sun * {
  transition: fill var(--duration) calc(2 * var(--duration) - 2 * var(--delay));
}

#outline * {
  transition: stroke-dasharray var(--duration)
      calc(var(--duration) + 0.3 * var(--delay)),
    stroke-dashoffset var(--duration) calc(var(--duration) + 0.3 * var(--delay)),
    stroke var(--duration) calc(3 * var(--delay));
  stroke: transparent;
}

#path-1 {
  stroke-dasharray: 3.225 16;
}

#path-2 {
  stroke-dasharray: 3.225 17;
}

#path-3 {
  stroke-dasharray: 3.225 18;
}

#path-4 {
  stroke-dasharray: 3.225 32;
}

#path-5 {
  stroke-dasharray: 1.9285 16;
}

#path-6 {
  stroke-dasharray: 1.9285 22;
}

#path-7 {
  stroke-dasharray: 1.9285 25;
}

#path-8 {
  stroke-dasharray: 1.9285 31;
}

#sun-part {
  stroke-dasharray: 18.179 20;
  stroke-dashoffset: 19;
}

#moon-o {
  stroke-dasharray: 41.072 42;
}

.dark .theme-toggler {
  --delay: 0s;
}

@media (max-width: 62.5rem) {
  .dark .theme-toggler > svg {
    transform: scale(0.8);
  }
}

.dark .theme-toggler #moon,
.dark .theme-toggler .star {
  fill: transparent;
}

.dark .theme-toggler .sun,
.dark .theme-toggler .sun * {
  fill: hsl(var(--clr-text));
}

.dark .theme-toggler #outline * {
  stroke: hsl(var(--clr-text));
}

.dark .theme-toggler #moon-o {
  stroke-dasharray: 24.5 42;
}

.dark .theme-toggler #sun-part {
  stroke-dashoffset: 0;
}

.dark .theme-toggler #path-1 {
  stroke-dashoffset: -9.5;
  stroke-dasharray: 5.5 16;
}

.dark .theme-toggler #path-2 {
  stroke-dashoffset: -11.3;
  stroke-dasharray: 5.5 17;
}

.dark .theme-toggler #path-3 {
  stroke-dashoffset: -12;
  stroke-dasharray: 5.5 18;
}

.dark .theme-toggler #path-4 {
  stroke-dashoffset: -26;
  stroke-dasharray: 5.5 32;
}

.dark .theme-toggler #path-5 {
  stroke-dashoffset: -8.7;
  stroke-dasharray: 5.7 16;
}

.dark .theme-toggler #path-6 {
  stroke-dashoffset: -15.6;
  stroke-dasharray: 5.7 22;
}

.dark .theme-toggler #path-7 {
  stroke-dashoffset: -19;
  stroke-dasharray: 5.7 25;
}

.dark .theme-toggler #path-8 {
  stroke-dashoffset: -25.1;
  stroke-dasharray: 5.7 31;
}

.profile {
  max-width: 1.5rem;
  position: relative;
  aspect-ratio: 1;
}

.profile::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background-color: hsl(var(--clr-accent));
  z-index: -1;
  aspect-ratio: 1;
  transition: transform 0.3s;
}

.profile:hover::before {
  transform: scale(1.1);
}

.grid-container--header {
  grid-template-areas: "logo cart";
  padding-inline-end: 1.5rem;
  padding-inline-start: 1rem;
}

.nav-wrapper {
  --gap: 0.25rem;
  grid-area: logo;
}

.profile-and-cart {
  --gap: 0.75rem;
  justify-content: flex-end;
  grid-area: cart;
}

.grid-container--header > * {
  width: 100%;
  padding-block-start: 0.25rem;
  padding-block-end: 0.5rem;
}

.line-indicator {
  display: none;
}

@media (min-width: 62.5rem) {
  .grid-container--header > * {
    padding-block: 2rem;
    border-bottom: 1px solid hsl(var(--clr-text));
  }
  .profile {
    max-width: 3.125rem;
  }
  .profile-and-cart {
    --gap: 2rem;
  }
  .nav-wrapper {
    --gap: 4rem;
    align-self: stretch;
  }
  .line-indicator {
    display: initial;
    position: absolute;
    width: 0;
    height: 3px;
    background-color: hsl(var(--clr-accent));
    transform-origin: center center;
    transform: scaleX(0);
    transition: transform 0.3s;
  }
}

.cart > svg {
  transition: transform 0.3s cubic-bezier(0, 0.95, 0.24, 1.59);
}

.cart[aria-expanded="true"] > svg {
  transform: rotate(-20deg);
}

#product-title {
  line-height: 1;
}

@media (min-width: 62.5rem) {
  .product-info {
    max-width: 50ch;
  }
}

.price {
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 0;
  width: fit-content;
  align-items: center;
}

.discount {
  padding: 0.125em 0.5em;
  border-radius: 5px;
  color: hsl(var(--clr-accent));
  background-color: #ff7d1a22;
  width: fit-content;
  height: fit-content;
}

.original-price {
  justify-self: end;
}

@media (min-width: 62.5rem) {
  .price {
    grid-template-columns: 1fr 1fr;
  }
  .original-price {
    justify-self: start;
  }
}

@media (min-width: 62.5rem) {
  .info {
    --flow-space: 2.25rem;
  }
}

.counter {
  padding: 1em 1.5em;
  border-radius: 0.5rem;
  justify-content: space-between;
}

.add-to-cart {
  padding: 1em 1.5em;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  --gap: 0.5rem;
  position: relative;
  transition: background-color 0.3s, transform 0.3s;
}

@media (min-width: 62.5rem) {
  .add-to-cart {
    margin-bottom: 0;
  }
}

.add-to-cart:hover {
  background-color: hsl(var(--clr-accent) / 0.5);
}

.add-to-cart.clicked {
  background-color: hsl(var(--clr-accent));
  transform: translateY(0.25rem);
  transform-origin: center center;
}

.add-to-cart.clicked::before {
  transform: none;
}

.add-to-cart::before {
  content: "";
  position: absolute;
  inset: 0 0.75rem 0.75rem 0.5rem;
  transform: translateY(2rem);
  filter: blur(1.5rem);
  opacity: 0.3;
  z-index: -1;
  background-color: hsl(var(--clr-accent));
  transition: transform 0.3s;
}

.plus,
.minus {
  position: relative;
  height: 12px;
  width: 12px;
  transition: transform 0.3s;
}

.plus div,
.minus div {
  position: absolute;
  height: 4px;
  width: 12px;
  top: calc(50% - 2px);
  left: 0;
  border-radius: 0.8px;
  background-color: hsl(var(--clr-accent));
  transition: transform 0.3s, transform-origin 0.3s;
}

.plus div:last-child {
  transform-origin: center center;
  transform: rotate(270deg);
}

.plus-btn:hover .plus div:last-child {
  transform-origin: left center;
  transform: rotate(-45deg) translateY(2px) translateX(-3.5px);
}

.plus-btn:hover .plus div:first-child {
  transform: rotate(45deg) translateY(2px) translateX(3.5px);
  transform-origin: right center;
}

.plus-btn.clicked .plus {
  transform: translateY(-3px);
}

.minus-btn.clicked .minus {
  transform: translateY(3px);
}

.minus div:first-child {
  transform-origin: center center;
  transform: rotate(180deg);
}

.minus-btn:hover .minus div:last-child {
  transform-origin: left center;
  transform: rotate(45deg) translateY(-2px) translateX(-3.5px);
}

.minus-btn:hover .minus div:first-child {
  transform: rotate(-45deg) translateY(-2px) translateX(3.5px);
  transform-origin: right center;
}

.imgs img {
  width: 100%;
  height: 80vw;
  object-fit: cover;
  flex-shrink: 0;
  scroll-snap-align: start;
}

.imgs {
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.imgs::-webkit-scrollbar {
  display: none;
}

.gallery-container {
  position: relative;
}

.light-box {
  visibility: hidden;
  opacity: 0;
  scale: 0.5;
  position: absolute;
  max-width: 500px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  aspect-ratio: 1;
  z-index: 99;
  transition: visibility 0.3s, opacity 0.3s, scale 0.3s;
}

.close {
  position: absolute;
  top: -2rem;
  right: 0;
}

.light-box.open {
  visibility: visible;
  opacity: 1;
  scale: 1;
}

.arrow-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.bg-arrow {
  aspect-ratio: 1;
  width: 2.5rem;
  background-color: hsl(var(--clr-white));
  border-radius: 50%;
  transform-origin: center center;
  transform: rotate(45deg);
  transition: border-radius 0.3s, background-color 0.5s 1s;
  position: relative;
  overflow: hidden;
}

.arrow {
  transition: translate 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.light-box .bg-arrow {
  width: 50px;
}

.light-box .arrow-container:hover .arrow * {
  background: hsl(var(--clr-accent));
}

.arrow-container.left {
  left: 1rem;
}

.arrow-container.right {
  right: 1rem;
}

.light-box .arrow-container.left {
  left: -25px;
}

.light-box .arrow-container.right {
  right: -25px;
}

.left.clicked .bg-arrow {
  border-bottom-left-radius: 10px;
}

.right.clicked .bg-arrow {
  border-top-right-radius: 10px;
}

.top-part,
.bottom-part {
  position: absolute;
  height: 3px;
  width: 10px;
  transition: transform 0.3s, background-color 0.5s 0.5s;
  background-color: hsl(220, 13%, 13%);
}

.light-box :where(.top-part, .bottom-part) {
  width: 12px;
}

.bg-arrow::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsl(var(--clr-dark-mode));
  transition: transform 0.3s 0.5s, border-radius 0s;
  border-radius: 50%;
  transform: scale(0);
}

.dark .bg-arrow::before {
  transform: scale(1);
  border-radius: 0;
  transition: transform 0.3s, border-radius 0s 1.3s;
}

.dark .top-part,
.dark .bottom-part {
  background-color: hsl(38, 12%, 87%);
  transition-delay: 0s;
}

.left .top-part,
.left .bottom-part {
  left: calc(50% - 5px);
  transform-origin: left center;
}

.left .top-part {
  transform: rotate(-45deg);
  top: calc(50% - 0.5px);
}

.left .bottom-part {
  transform: rotate(45deg);
  top: calc(50% - 2.5px);
}

.left.clicked .top-part {
  transform: rotate(-35deg);
}
.left.clicked .bottom-part {
  transform: rotate(35deg);
}
.left.clicked .arrow {
  translate: -10px;
}

.right .top-part,
.right .bottom-part {
  right: calc(50% - 5px);
  transform-origin: right center;
}

.right .top-part {
  transform: rotate(45deg);
  top: calc(50% - 0.5px);
}

.right .bottom-part {
  transform: rotate(-45deg);
  top: calc(50% - 2.5px);
}

.right.clicked .top-part {
  transform: rotate(35deg);
}
.right.clicked .bottom-part {
  transform: rotate(-35deg);
}
.right.clicked .arrow {
  translate: 10px;
}

.grid-container--main {
  padding-inline: 0;
  flex-grow: 1;
  /* align-items: start; */
}

.info {
  padding: 1.5rem;
}

.thumbnails {
  display: none;
}

.cart-content {
  position: absolute;
  background-color: hsl(var(--clr-white));
  z-index: 96;
  transition: transform 0.3s, opacity 0.3s, visibility 0.3s, max-height 0.3s;
  top: 75px;
  overflow: hidden;
  border-radius: 0.75rem;
  box-shadow: 0 5px 50px hsl(var(--clr-text) / 0.1);
  width: calc(100% - 20px);
  left: 10px;
  transform: translateY(-10px);
  opacity: 0;
  visibility: hidden;
  max-height: 0;
}

.cart-content::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsl(var(--clr-dark-mode));
  z-index: -1;
  scale: 0;
  transition: scale 1s cubic-bezier(0.18, -0.01, 0.49, 0.99);
  border-radius: 100vh;
  aspect-ratio: 1;
  translate: 50% -50%;
}

.dark .cart-content::before {
  scale: 3;
}

.dark .cart-content {
  background-color: hsl(var(--clr-dark-mode));
}

.cart-content img {
  width: 50px;
  border-radius: 5px;
  aspect-ratio: 1;
}

.cart-content .title {
  padding: 1.5rem;
  border-bottom: 1px solid hsl(0 0 40%);
}

.cart-content .items {
  padding: 1.5rem;
}

.empty :where(.item, button) {
  display: none;
}

.items:not(.empty) .empty-text {
  display: none;
}

.empty-text {
  padding: 3rem 5rem;
  text-align: center;
}

.checkout-btn {
  margin: 0;
}

.checkout-btn::before {
  content: none;
}

.item {
  justify-content: space-between;
}

.cart {
  position: relative;
}

.cart-count {
  visibility: hidden;
  position: absolute;
  right: -10px;
  top: -8px;
  background-color: hsl(var(--clr-accent));
  padding: 0 0.5rem;
  border-radius: 100vh;
  color: hsl(var(--clr-white));
  font-size: 0.75rem;
  font-weight: 700;
  transition: visibility 0.3s, scale 0.3s, opacity 0.3s, transform 0.3s;
  scale: 0;
  opacity: 0;
}

@keyframes enlarge {
  0% {
    scale: 0;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes shrink {
  from {
    scale: 1;
    opacity: 1;
  }
  to {
    scale: 0;
    opacity: 0;
  }
}

.cart-count:not(.pressed):not(:empty) {
  animation: enlarge 0.5s ease-in-out forwards;
}

.cart-count.pressed {
  animation: shrink 0.5s ease-in-out forwards;
}

.cart-count.active {
  visibility: visible;
  scale: 1;
  opacity: 1;
}
.cart-content.open {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  max-height: 1000px;
}

@media (min-width: 37.5rem) and (max-width: 62.5rem) {
  .info {
    padding-inline: 5rem;
  }
  .grid-container--header {
    padding-inline-end: 5rem;
    padding-inline-start: 4.125rem;
  }
  .price {
    grid-template-columns: 1fr 1fr;
  }
  .original-price {
    justify-self: start;
  }
  nav {
    padding-left: 5rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 37.5rem) {
  .purchase {
    grid-template-columns: 1.25fr 2fr;
  }
}

@media (min-width: 62.5rem) {
  .cart-content {
    left: auto;
    top: 100px;
    width: fit-content;
  }
  .imgs img {
    height: auto;
    aspect-ratio: 1;
    cursor: pointer;
  }
  .thumbnails {
    display: flex;
  }
  .light-box .thumbnails {
    width: 90%;
    justify-self: center;
    gap: 2rem;
  }
  .thumbnails button {
    overflow: hidden;
    border-radius: 0.625rem;
    position: relative;
  }
  .thumbnails button:where(:hover, .active) img {
    opacity: 0.3;
  }
  .thumbnails button img {
    transition: opacity 0.3s;
  }
  .thumbnails button::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 0.625rem;
    transition: border-color 0.3s;
    border: 2px solid transparent;
  }
  .thumbnails button.active::before {
    border: 2px solid hsl(var(--clr-accent));
  }
  .selected {
    position: absolute;
  }
  .gallery {
    --gap: 2rem;
  }
  .imgs {
    border-radius: 1rem;
  }
  .gallery:not(.light-box) .arrow-container {
    display: none;
  }
  .light-box-overlay {
    visibility: hidden;
    position: fixed;
    inset: 0;
    background-color: hsl(var(--clr-black) / 0.75);
    z-index: 98;
    backdrop-filter: blur(5px);
    transition: visibility 0.3s, opacity 0.3s;
    opacity: 0;
  }
  .dark .light-box-overlay {
    background-color: hsl(var(--clr-text) / 0.25);
  }
  .light-box-overlay.active {
    visibility: visible;
    opacity: 1;
  }
}
